streamlit>=1.37.0
Pillow
gspread
gspread-dataframe
google-auth
google-auth-oauthlib
google-api-python-client
python-dateutil
streamlit-cookies-manager==0.2.0
google-generativeai
numpy==1.26.4
easyocr==1.7.1
opencv-python-headless==4.8.1.78
torch==2.2.2
torchvision==0.17.2
google-generativeai

